.App {
  font-family: "Segoe UI";
  text-align: center;
  margin: 20px auto 20px auto;
  width: 600px;
  min-height: 600px;
  border: 5px solid rgba(73, 204, 249, 1.0);
  padding: 20px;
}

.App-header {
  height: 150px;
  padding: 20px;
}

ul {
  list-style-type: none;
}

.todo-wrapper {
  border-bottom: 1px solid lightgray;
  text-align: left;
  margin-bottom: 10px;
  padding: 10px;
  line-height: 17px;
}

input {
  margin-right: 10px;
  padding: 5px;
  line-height: 17px;
  font-size: 15px;
}

/* STARTING animation */
.animasi-enter {
  opacity: 0.01;
}

/* ENDING animation */
.animasi-enter.animasi-enter-active {
  opacity: 1;
  transition: opacity 800ms ease-in;
}

.animasi-leave {
  opacity: 1;
}

.animasi-leave.animasi-leave-active {
  transform: translateX(-100%);
  transition: all 500ms ease-in;
}
